@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600&display=swap');

:root{
    --light-pink:#FFFFE3;
    --grey: #10100E;
    --light_yellow: FFFFE3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open sans';
    color: black;
}

@keyframes slideInTop {
    from{
        transform:translateY(-111px)
    }
    to{
        transform: translate(0);
    }
}

body>div {
    margin: 0px 8%;
}

.black_btn{
    color: white;
    background-color: black;
}

button{
    border: 2px solid black;
    padding: 8px 18px;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

button:hover{
    cursor: Pointer;
    background-color: black;
    color: white;
}

button:active{
    color: teal;
}

.nav_bar{
    padding: 0 8%;
    animation-name: slideInTop;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 0.1s;
    animation-iteration-count: 1;
    margin: 30px 0px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.nav_logo{
    font-size: 32px;
    font-weight: 750;
    display: flex;
    justify-content: left;
    align-self: left;
}

.black_btn{
    color: white;
    background-color: black;
}

.nav_link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 31px;
    font-size: 18px;
    font-weight: 600;
}

.nav_btn{
    display: flex;
    justify-content: right;
    gap: 14px;
}

.login_signup_btn{
    border: 2px solid black;
    padding: 8px 18px;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.login_signup_btn:hover{
cursor: Pointer;
background-color: black;
color: white;
}

.login_signup_btn:active{
color: teal;
}

.signup_btn{
color: white;
background-color: black;
}

.signup_btn:hover{
background-color: teal;
border: 2px solid teal;
}

.montor_and_feedback{
    margin-top: 82px;
}

.mentor_search{
    display: flex;
}

.mentor_feedback_buttons button{
    font-size: 34px;
    font-weight: 700;
    border: none;
    color: rgba(0, 0, 0, 0.75);
    text-align: left;
    padding: 0;
    margin-right: 20px;
}

.mentor_feedback_buttons button:hover{
    color: rgb(0, 0, 0);
    background: none;
}

.mentor_feedback_buttons .active{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.search_bar, .mentor_search select{
    background: #10100E;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    display: flex;
    margin-right: 14px;
}

.mentor_search select{
    color: #FFFFE3;
    width: 200px;
    font-size: 16px;
}

.search_bar input{
    font-size: 14px;
    font-weight: 500;
    width: 300px;
    background: none;
    border: none;
    margin-left: 15px;
}

.mentors{
    margin-top: 28px;
}

.mentor_options{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    justify-content: left;
}

.mentor_select{
    position: relative;
    height: 300px;
    width: 200px;
    border-radius: 10px;
    transition: .2s;
    overflow: hidden;
    cursor: pointer;
}

.mentor_select:hover{
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.5);
    transform: scale(102%);
}

.mentor_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.mentor_select p {
    position: absolute;
    top: 8px;
    right: 10px;
}

.mentor_select .free{
    background-color: #008000;
    color: #fff;
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Open Sans';
}

.mentor_select .paid{
    background-color: #FF0000;
    color: #fff;
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Open Sans';
}

.mentor_name {
    position: absolute;
    bottom: 16px;
    left: 16px;
    z-index: 2;
}

.mentor_name *{
    color: white;
}

.black_gradient{
    position: absolute;
    width: 100%;
    height: 133px;
    background: linear-gradient(359.71deg, #000000 0.24%, rgba(0, 0, 0, 0) 99.74%);
    /* border-radius: 10px; */
    bottom: 0;
    z-index: 1;
}

.load_btn{
    align-self: center;
    margin: 30px auto;
}

@media only screen and (max-width: 768px){

    body>div {
        margin: 0px 10px;
    }

    .montor_and_feedback {
        margin-top: 25px;
    }

    .mentor_options {
        justify-content: space-around;
        gap:10px;
    }

    .nav_bar {
        margin: 20px 0;
    }

    .nav_logo {
        font-size: 22px;
    }

    .nav_link{
        display: none;
    }

    .nav_btn{
        gap: 8px;
    }

    .login_signup_btn {
        padding: 4px 10px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 500;
    }

    .mentor_search{
        display: none;
    }

    .mentor_feedback_buttons button {
        font-size: 22px;
    }

    .mentor_select{
        width: 46%;
        height: 280px;
    }

}