@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600&display=swap");

:root {
  --light-pink: #ffffe3;
  --grey: #10100e;
  --light_yellow: #ffffe3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Open sans";
  color: white;
  border: 0;
}

body{
    position: relative;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login_singup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  width: 50%;
  height: 100vh;
  background-image: url("../assets/pngs/login_page_gradeients.png");
}

.login_welcome h2 {
  font-size: 48px;
}

.login_welcome h1 {
  font-size: 64px;
}

.login_signup_form {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login_signup_toggle {
  margin-top: 50px;
  padding: 5px;
  width: 100%;
  background-color: transparent;
  display: flex;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

.login_signup_toggle_btn {
  border-radius: 5px;
  width: 49.5%;
  font-weight: 600;
  font-size: 20px;
  padding: 8px 0;
  background-color: transparent;
}

.selected {
  color: black;
  background-color: var(--light_yellow);
}

.signup_form {
  display: none;
}
.login_form {
  display: block;
}

.form {
  width: 100%;
}

.form p {
  margin-top: 16px;
  font-size: 20px;
}

.form input {
  padding: 8px;
  background-color: transparent;
  text-decoration: underline;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 6px;
  margin-top: 2px;
  width: 100%;
  font-size: 20px;
  text-decoration: none;
}

.form button{
  margin-top: 26px;
  padding: 8px;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 6px;
  width: 100%;
  font-size: 20px;
  
}

.google_auth {
  margin-top: 30px;
}

.about_morfeed {
  position: relative;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/pngs/login_about_us.png);
}

.about_morfeed > * {
  width: 85%;
}

.about_morfeed h3 {
  font-size: 40px;
}

.about_morfeed h4 {
  margin-top: 10px;
  font-size: 24px;
}

.about_morfeed a {
  text-decoration: underline;
  font-size: 16px;
  margin-top: 30px;
}

.about_morfeed > p {
  position: absolute;
  bottom: 50px;
}

/* ------------------  */
/* .popup_cards{
    display: none;
} */

.popup_message {
  position: absolute;
  top: 20%;
  z-index: 3;
}
.popup_container {
  width: 100%;
  height: auto;
  padding: 10px 15px;
  background-color: white;
  display: flex;
  gap:10px; 
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}
.mentorPro {
  width: 48%;
  height: auto;
}
.mentor_img {
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding-top: 50px;
  text-align: center;
}

.mentorPro button {
  background-color: black;
  color: white;
  font-size: 22px;
  font-weight: 600;
  width: 100%;
  height: auto;
  text-align: left;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}
.menteePro {
  width: 48%;
  height: auto;
}
.mentee_img {
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding-top: 50px;
  text-align: center;
}

.menteePro button {
  background-color: black;
  color: white;
  font-size: 22px;
  font-weight: 600;
  width: 100%;
  height: auto;
  text-align: left;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}


.registration_form{
    display: none;
    position: absolute;
    background-color:  #10100F;
    width: 500px;
    height: 675px;
    border: 1px solid #000000;
    border-radius: 15px;
    z-index: 3;
    padding: 20px;
}

.registration_form .details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration_form .heading, .mentor_form .heading{
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    line-height: 43px;
    margin: 10px 0px;
}

.registration_form label, .mentor_form label{
    color: #fff;
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    margin-top: 10px;
}

.registration_form input, .mentor_form input{
    width: 100%;
    border: 1px solid #fff;
    background-color: #000000;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
}

.parameter{
    margin: 10px 0px;
}

.bio{
   margin-top: 10px;
}

.bio textarea{
    background-color: #000000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
}

.register-btn, .register-mentor-data{
    background-color: #FFFFE3;
    color: #000;
    border-radius: 5px;
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    padding: 10px;
    margin: 20px 0px;
    cursor: pointer;
}
.overlay{
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: grey;
  opacity: .9;
  z-index: 2;
}

/* --------------close button  */
.close{
  width: 30px;
  height: 30px;
  position: absolute;
  background-color:rgb(255, 248, 248) ;
  color: #141414;
  top: 10px;
  right: 10px;
  display: flex;
  align-items:center ;
  justify-content: center;
  cursor: pointer;
  /* padding: 2px; */
  border-radius: 50%;
  font-weight: 900;
}

.mentor_form{
  display: none;
  position: absolute;
  background-color:  #10100F;
  width: 500px;
  height: max-content;
  padding: 24px;
  border: 1px solid #000000;
  border-radius: 15px;
  z-index: 3;
}


.mentordisplay{
  height: 100px;
  width: 100px;
  margin: 16px auto;
  border: 1px solid grey;
  border-radius: 10px;
  overflow: hidden;
}

.error{
  color: red;
  font-size: 12px;
  margin-top: 0;
  display: none;
}

@media only screen and (max-width: 786px) {
  .about_morfeed{
    display: none;
  }

  .login_singup {
    width: 100%;
  }

  .google_auth{
    width: 100%;
  }

  .login_welcome h1{
    font-size: 32px;
  }

  .login_welcome h2{
    font-size: 28px;
  }

  .login_signup_toggle{
    margin-top: 20px;
  }

  .login_signup_toggle_btn {
    font-size: 12px;
    padding: 5px 0;
  }

  .form p {
    margin-top: 18px;
    font-size: 12px;
  }

  .form input {
    padding: 5px;
    font-size: 14px;
  }

  .form button{
    font-size: 14px;
  }


  /* pop up */
  .mentorPro{
    width: 160px;
    height: auto;
  }

  .menteePro{
    width: 160px;
    height: auto;
  }

  .mentee_img img{
    width: 150px;
    height: auto;
  }

  .mentor_img img{
    width: 150px;
    height: auto;
  }

  /* registeration form */
  .registration_form{
    max-width: 440px;
    height: fit-content;
    width: 90%;
  }

  .registration_form .heading, .mentor_form .heading {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin: 6px 0px;
  }

  .registration_form label, .mentor_form label {
    color: #fff;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-top: 5px;
  }

  .registration_form input, .mentor_form input {
    font-size: 14px;
  } 

  .register-btn, .register-mentor-data {
    font-size: 16px;
    margin: 10px 0px;
  }


  /* mentor_form */
  .mentor_form{
    width: 90%;
    max-width: 440px;
  }


}
